.bmi-container {
    width: 980px;
    margin: 0 auto;
    background-color: red;
}
.mood-container {
    width: 980px;
    margin: 0 auto;
    background-color: red;
}

.footer {
	
    left: 0;
    bottom: 0;
    width: 100%;
    
    background-color: rgb(12, 11, 11);
    color: white;
    text-align: center;
    }