html {
	position: relative;
	  min-height: 100%;
    }
    
body{
    margin-bottom: 100px;
    background-image: linear-gradient(to right, #c7f8d6 0%, #eba79b 100%);
}

.jumbotron{

    /* background-size: 100% 100%; */
    background-image: url("frontpage01.jpeg");
    /* height: 100%;
    background-size: cover;   
    background-position: center;
    position: relative;  */
  
    background-size: cover;
    background-position: top center;
    height: 100%;
    width:100%;
    
  
  }  

.bmi-container {
    width: 980px;
    margin: 0 auto;
    background-color: rgb(142, 218, 165);
}
.mood-container {
    width: 980px;
    margin: 0 auto;
    background-color: rgb(154, 231, 81);
}

.bmi{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(164, 236, 82);

}

.gs-info{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(59, 221, 250);
}

#mood-chart-container{

    background-color: darksalmon;
}

#bp-chart-container{

    background-color: gold;
}

.mood-avg-info{

    width: 980px;
    margin: 0 auto;
    background-color: rgb(250, 162, 203);
}

.footer {
	
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgb(12, 11, 11);
    color: white;
    text-align: center;
    }

#title{
    font-family: Tahoma;
    color: rgb(39, 52, 231);
    text-align: center;
}