<html>
    <body>
        <main>
            
            
            <label><%= user.username %></label>
            <label><%= user.userId %></label>
            <label><%= user.age %></label>
        
        </main>
        
    </body>
</html>
