@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{

  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  /* background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%); */
    
}
  
main{

    margin: 3rem;
}

h2{

    text-align: center;
}

.container{
    height: 100%;
  /* background-color: #f4f4f4; */
  background-color: whitesmoke; 
  background-blend-mode: normal, lighten, soft-light;
    padding: 50px 0;
    box-sizing: border-box;
  }
/* .card-body{

  margin-bottom: -3rem;
} */
  
  .card__image{
    margin-top: 0px;
    width: 100%;
    height: 95%;
    overflow: hidden;
   
  }
  .card__image img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    transition: .5s;
  }

  #cardbtn:hover{

  /* margin-left: 5rem; */
  background-color: black;
  color:white;
  transform: translateY(-10px); 
  transition: .5s; 
    /* box-shadow: 0 0 30px rgba(146, 142, 142, 0.2); */
  }


  
  .card-img-top{
    width: 100%;
    height: 40%;
  } 

  

    h2 {
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 25px "Lato", sans-serif;
      color: #111;
    }
    
    h4{
      letter-spacing: 2px;
      /* font-family:'Balsamiq Sans', cursive;
      font: 15px; */
      color: rgb(16, 17, 17);
      line-height: 1.5 ;
    
      font: 18px 'Balsamiq Sans', cursive;
      /* font: 15px; */
    }
  
    h5{
      letter-spacing: 2px;
      /* text-transform: uppercase; */
      /* font: 18px "Lato", sans-serif; */
      font: 18px "Helvetica";
      color: rgb(8, 8, 8);
      line-height: 1.5 ;
    } 

    .footer {
	
      left: 0;
      bottom: 0;
      width: 100%;
      
      background-color: rgb(12, 11, 11);
      color: white;
      text-align: center;
      }
/* 
      .footer {
	
        left: 0;
        bottom: 0;
        width: 100%;
        
        background-color: rgb(12, 11, 11);
        color: white;
        text-align: center;
        } */