<!doctype html>
<html lang="en">

<head>
  <title>home page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="experiment.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">MemForever</a>
      <svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z"
          clip-rule="evenodd" />
      </svg>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/healthinfo">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/game">Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/todolist">To-do list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/bmi'>My Progress</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link " href="/logout">LOG OUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <div style="position:relative;" id="intro">
    <div style="color: rgb(5, 5, 5);text-align:center;padding:20px 20px;text-align: justify;">
    <h3 style="text-align:center;"><strong>Great to see you again !! Please pick a card ❤️</strong></h3>
    </div>
    </div>
  <br>
  <main>
    <div class="card-deck">
      <div class="card" style="width: 15rem;">
        <img src="bloodpressure.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title" >Track your health</h5> -->
          <a href="/healthinfo" id="cardbtn" class="btn btn-lg btn-primary">Track my health</a>
          <br>
          <br>
          <h4 class="card-text">Track my blood sugar and blood pressure.</h4>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <img src="todolist02.png" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/todolist" id="cardbtn" class="btn btn-lg btn-primary">To-do list</a>
          <br>
          <br>
          <h4 class="card-text">Track my chores with a simple to use to-do list.</h4>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <img src="gameScreen.png" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/game" id="cardbtn" class="btn btn-lg btn-primary">Play game</a>
          <br>
          <br>
          <h4 class="card-text"> A total of eight questions to test my cognitive progress.</h4>
        </div>

      </div>
      <div class="card" style="width: 15rem;">
        <img src="dashboard.png" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/bmi" id="cardbtn" class="btn btn-lg btn-primary">See my progress</a>
          <br>
          <br>
          <h4 class="card-text"> See my progress in mood, blood pressure, blood sugar, bmi and game score.</h4>
        </div>
      </div>
      <div>  
      </div>
      <div>  
      </main>
  <br>
  <br>
  <footer class="footer">
    <!-- Copyright -->
    <!-- ❤️  -->
    <br>
    <br>
    <div class="footer-copyright text-center">&copy; Developed with ❤️</i> by
      <a class="white-text">  <a href="/aboutUs" style="color:aliceblue"><strong>ACQP IT</strong></a>.
    </div>
    <br>
    <br>
    <!-- Copyright -->
  </footer>

  <!-- Optional JavaScript -->
  <script src=""></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>