
Qing SHENG
Master of Business Information System


UI design. Report, Statistics, Tableau, project management.



Master of Information Technology 
Master of Data Science
Master of Business Information System
Master of Business Information System








Python, JAVA, JavaScript, HTML, CSS, MongoDB, Cassandra, GitHub


RStudio, SQL, Scripting, C++, Python
JAVA, Python, Requirement gathering, Report, Data visualization & analytics.
UI design. Report, Statistics, Tableau, project management.
Data searching, Full stack developer, Web development, Coding


Data searching, Data Wrangling, visualization and analytics, support web development
Data searching, UI design, Report writing
UI design, Report writing, Information searching
