@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html {
position: relative;
  min-height: 100%;
}

body{

    /* this will fix the footer at button of the page  */
    margin-bottom: 100px;
    background-image: linear-gradient(to right, #c7f8d6 0%, #eba79b 100%);
}

h2{
    letter-spacing: 2px;
    text-transform: uppercase;
    /* font: 30px "Lato", sans-serif; */
    font-family: 'Balsamiq Sans', cursive;
    color: #111;
  }

h3{
    letter-spacing: 1px;
    text-transform: uppercase;
    /* font: 30px "Lato", sans-serif; */
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(211, 81, 6);
  }
  
  h4{
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    /* font: 20px "Lato", sans-serif; */
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(10, 10, 10);
    line-height: 1.3 ;
  }


img{
    width: 150px;
    height: 150px;
    margin-left: 3rem;
}

input{

    font-size: 20px; 
    width: 300px;
}

#submit-button{
	background-image: linear-gradient(to top, #71f5c9 0%, #fa71cd 100%);
	border-radius:20px;
	/* border:1px solid #18ab29; */
	display:inline-block;
	cursor:pointer;
	color:#0f0f0f;
	font-family:Helvetica;
	font-size:19px;
    /* padding:16px 31px; */
    padding:0px 31px;
	text-decoration:none;
    /* text-shadow:0px 1px 0px #2f6627; */
    width: 8rem;
    height: 3rem;
    margin-left: 5rem;
    text-align: justify;
}
.submit-button:hover {
	background-color:#5cbf2a;
}
.submit-button:active {
	position:relative;
	top:1px;
}


.col-md-3{

    transform: translateY(-20px); 
    transition: .5s;
}




#result{

    text-align: center;
    
}

.emotion-card {
    margin-top: 40px;
}

.container-1{

text-align: center;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0; 
  width: 100%;
  background-color: #040404;
  text-align: center;
  color: aliceblue; 
  position: absolute;
} 

