<!DOCTYPE html>
<html lang="en">
  <head>
    <title>weight</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="util.css">
  </head>
  <body>
    <div class="limiter">
      <div
        class="container-login100"
        style="background-image: url('images/bg-01.jpg');"
      >
        <div class="wrap-login100">
            <form action="/weight" method="POST"> 
            <span class="login100-form-logo">
              <i class="zmdi zmdi-landscape"></i>
            </span>

            <span class="login100-form-title p-b-34 p-t-27">
             <h5>Enter your weight for today</h5> 
            </span>

          
            <div
              class="wrap-input100 validate-input"
              
            >
              <input
                class="input100"
                type="number"
                name="weight"
                placeholder="weight in kgs"
              />
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">
                Submit Weight
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  
    
    
  </body>
</html>
